/* TODO: Use css to format the HTML output */

.quarto-title-block .quarto-title-banner {
  background-image: url(logo.png);
  background-size: 5%;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 1%;
  background-origin: content-box;
}
